In [38]:
#NESTE NOTEBOOK PUCHEI O MEU DATASET SEM DADOS NULOS. JA TRABALHADA UM POUCO.

In [39]:
import pandas as pd

In [40]:
df = pd.read_excel(open('/content/drive/MyDrive/Monografia/Monografia 01/Parte Tecnica/Parte 1/Prestacoes_29.10.2022_18Categorias.xlsx', 'rb'),sheet_name='Sheet1')

In [41]:
df.isna().sum()

NUMEROCLIENTE                    0
CODIGOCLIENTE                    0
NR_PRESTACOES                    0
NR_PREST_PAGAS_ATRASO            0
NR_PREST_PAGAS_SEM_ATRASO        0
NR_PREST_NAOPAGAS_ATRASO         0
NR_PREST_NAO_PAGAS_SEM_ATRASO    0
TIPOCREDITO                      0
DATACRIACAOCREDITO               0
PRAZO                            0
CAPACIDADEENDIVIDAMENTO          0
VALORCREDITO                     0
VALORPRESTACAO                   0
PAIS                             0
PROVINCIA                        0
IDADE                            0
DATACRIACAO                      0
PROFISSAO                        0
CARGO                            0
CATEGORIAPROFISSIONAL            0
TIPOCLIENTE                      0
RENDAMENSAL                      0
RENDAANUAL                       0
ESTADOCIVIL                      0
HABILITACOES                     0
EstadoCliente                    0
SEXO                             0
DT_REGISTO_CLIENTE               0
dtype: int64

In [42]:
df.head()

,NUMEROCLIENTE,CODIGOCLIENTE,NR_PRESTACOES,NR_PREST_PAGAS_ATRASO,NR_PREST_PAGAS_SEM_ATRASO,NR_PREST_NAOPAGAS_ATRASO,NR_PREST_NAO_PAGAS_SEM_ATRASO,TIPOCREDITO,DATACRIACAOCREDITO,PRAZO,...,CARGO,CATEGORIAPROFISSIONAL,TIPOCLIENTE,RENDAMENSAL,RENDAANUAL,ESTADOCIVIL,HABILITACOES,EstadoCliente,SEXO,DT_REGISTO_CLIENTE
0,10102010,1,36,0,36,0,0,CU,2012-08-09,36,...,PROGRAMADOR,TECNICO SUPERIOR,S,23000.0,276000.0,S,6,1,1,2012-07-20 13:44:29.220
1,10102020,1,5,2,3,0,0,CJ,2015-06-16,5,...,PROGRAMADOR,TECNICO SUPERIOR,S,23000.0,276000.0,S,6,0,1,2012-07-20 13:44:29.220
2,10102040,1,1,0,1,0,0,CJ,2015-11-12,1,...,PROGRAMADOR,TECNICO SUPERIOR,S,23000.0,276000.0,S,6,1,1,2012-07-20 13:44:29.220
3,10102050,1,3,0,3,0,0,CJ,2016-04-19,3,...,PROGRAMADOR,TECNICO SUPERIOR,S,23000.0,276000.0,S,6,1,1,2012-07-20 13:44:29.220
4,10102060,1,1,1,0,0,0,CJ,2017-12-13,1,...,PROGRAMADOR,TECNICO SUPERIOR,S,23000.0,276000.0,S,6,0,1,2012-07-20 13:44:29.220

In [43]:
#AQUI ESTOU A ADICIONAR OS DADOS DE GRADUACAO RELACIONADOS COM A COLUNA DE HABILITACOES:
df['GRADUADO']='0';
df['GRADUADO'][df.HABILITACOES==5]='1';
df['GRADUADO'][df.HABILITACOES==6]='1';
df['GRADUADO'][df.HABILITACOES==7]='1';
df['GRADUADO'][df.HABILITACOES==10]='1';

<ipython-input-43-46e496faef8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GRADUADO'][df.HABILITACOES==5]='1';
<ipython-input-43-46e496faef8b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GRADUADO'][df.HABILITACOES==6]='1';
<ipython-input-43-46e496faef8b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GRADUADO'][df.HABILITACOES==7]='1';
<ipython-input-43-46e496faef8b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GRADUADO'][df.HABILITACOES==10]='1';

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9487 entries, 0 to 9486
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NUMEROCLIENTE                  9487 non-null   int64
 1   CODIGOCLIENTE                  9487 non-null   int64
 2   NR_PRESTACOES                  9487 non-null   int64
 3   NR_PREST_PAGAS_ATRASO          9487 non-null   int64
 4   NR_PREST_PAGAS_SEM_ATRASO      9487 non-null   int64
 5   NR_PREST_NAOPAGAS_ATRASO       9487 non-null   int64
 6   NR_PREST_NAO_PAGAS_SEM_ATRASO  9487 non-null   int64
 7   TIPOCREDITO                    9487 non-null   object
 8   DATACRIACAOCREDITO             9487 non-null   datetime64[ns]
 9   PRAZO                          9487 non-null   int64
 10  CAPACIDADEENDIVIDAMENTO        9487 non-null   int64
 11  VALORCREDITO                   9487 non-null   float64
 12  VALORPRESTACAO                 9487 non-null   float64
 13  PAIS                           9487 non-null   object
 14  PROVINCIA                      9487 non-null   object
 15  IDADE                          9487 non-null   int64
 16  DATACRIACAO                    9487 non-null   datetime64[ns]
 17  PROFISSAO                      9487 non-null   int64
 18  CARGO                          9487 non-null   object
 19  CATEGORIAPROFISSIONAL          9487 non-null   object
 20  TIPOCLIENTE                    9487 non-null   object
 21  RENDAMENSAL                    9487 non-null   float64
 22  RENDAANUAL                     9487 non-null   float64
 23  ESTADOCIVIL                    9487 non-null   object
 24  HABILITACOES                   9487 non-null   int64
 25  EstadoCliente                  9487 non-null   int64
 26  SEXO                           9487 non-null   int64
 27  DT_REGISTO_CLIENTE             9487 non-null   datetime64[ns]
 28  GRADUADO                       9487 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(14), object(8)
memory usage: 2.1+ MB

In [45]:
lista_colunas=df.dtypes.index
lista_categoria_colunas=df.dtypes.values
lista_numericos=[]
lista_categoricos=[]
for i in range(len(lista_categoria_colunas)):
    if lista_categoria_colunas[i]=='object':
        lista_categoricos.append(lista_colunas[i])

def convert_dtypes(df,lista_categoricos):
    for i in lista_categoricos:
        df[i]=df[i].astype('category')
convert_dtypes(df,lista_categoricos)
df['CAPACIDADEENDIVIDAMENTO']=df['CAPACIDADEENDIVIDAMENTO'].astype('category')
df['GRADUADO']=df['GRADUADO'].astype('category')
df.drop(columns=['CARGO'],inplace=True)
df.drop(columns=['DATACRIACAO'],inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9487 entries, 0 to 9486
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NUMEROCLIENTE                  9487 non-null   int64
 1   CODIGOCLIENTE                  9487 non-null   int64
 2   NR_PRESTACOES                  9487 non-null   int64
 3   NR_PREST_PAGAS_ATRASO          9487 non-null   int64
 4   NR_PREST_PAGAS_SEM_ATRASO      9487 non-null   int64
 5   NR_PREST_NAOPAGAS_ATRASO       9487 non-null   int64
 6   NR_PREST_NAO_PAGAS_SEM_ATRASO  9487 non-null   int64
 7   TIPOCREDITO                    9487 non-null   category
 8   DATACRIACAOCREDITO             9487 non-null   datetime64[ns]
 9   PRAZO                          9487 non-null   int64
 10  CAPACIDADEENDIVIDAMENTO        9487 non-null   category
 11  VALORCREDITO                   9487 non-null   float64
 12  VALORPRESTACAO                 9487 non-null   float64
 13  PAIS                           9487 non-null   category
 14  PROVINCIA                      9487 non-null   category
 15  IDADE                          9487 non-null   int64
 16  PROFISSAO                      9487 non-null   int64
 17  CATEGORIAPROFISSIONAL          9487 non-null   category
 18  TIPOCLIENTE                    9487 non-null   category
 19  RENDAMENSAL                    9487 non-null   float64
 20  RENDAANUAL                     9487 non-null   float64
 21  ESTADOCIVIL                    9487 non-null   category
 22  HABILITACOES                   9487 non-null   int64
 23  EstadoCliente                  9487 non-null   int64
 24  SEXO                           9487 non-null   int64
 25  DT_REGISTO_CLIENTE             9487 non-null   datetime64[ns]
 26  GRADUADO                       9487 non-null   category
dtypes: category(8), datetime64[ns](2), float64(4), int64(13)
memory usage: 1.4 MB

In [47]:
df.ESTADOCIVIL.unique()

['S', 'C', 'SP', 'EP', 'D', 'V']
Categories (6, object): ['C', 'D', 'EP', 'S', 'SP', 'V']

In [48]:
pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.5.1.post0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)

In [49]:
#EFECTUANDO ORDENACAO POR DATA DE CRIACAO DE CREDITO PARA EFEITOS DE SEPARACAO ENTRE 
#DADOS DE TESTES E DE VALIDACAO
dc = df.sort_values('DATACRIACAOCREDITO',ignore_index=True)
df_train = dc[dc.index < 6000]
df_val = dc[dc.index > 6000]
df_val.sort_values('DATACRIACAOCREDITO',inplace=True,ignore_index=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [50]:
dc = dc[['NUMEROCLIENTE',
 'CODIGOCLIENTE',
 'NR_PRESTACOES',
 'NR_PREST_PAGAS_ATRASO',
 'NR_PREST_PAGAS_SEM_ATRASO',
 'NR_PREST_NAOPAGAS_ATRASO',
 'NR_PREST_NAO_PAGAS_SEM_ATRASO',
 'TIPOCREDITO',
 'DATACRIACAOCREDITO',
 'PRAZO',
 'CAPACIDADEENDIVIDAMENTO',
 'VALORCREDITO',
 'VALORPRESTACAO',
 'PAIS',
 'PROVINCIA',
 'IDADE',
 'PROFISSAO',
 'CATEGORIAPROFISSIONAL',
 'TIPOCLIENTE',
 'RENDAMENSAL',
 'RENDAANUAL',
 'ESTADOCIVIL',
 'HABILITACOES',
 'SEXO',
 'DT_REGISTO_CLIENTE',
 'GRADUADO',
 'EstadoCliente']]

In [51]:
import matplotlib.pyplot as plt

In [52]:
import seaborn as sns
import numpy as np

In [53]:
XX = dc.corr()

In [54]:
# plt.figure(figsize=(16,6))
# sns.heatmap(data=XX, annot=True)
# %matplotlib (line = "inline");

# OneHotEncoding

In [55]:
from category_encoders.one_hot import OneHotEncoder
enc = OneHotEncoder(cols=['TIPOCREDITO','CAPACIDADEENDIVIDAMENTO','PAIS','PROVINCIA','CATEGORIAPROFISSIONAL','TIPOCLIENTE','ESTADOCIVIL','SEXO','GRADUADO'])
enc.fit(df_train)

df_train_ohe = enc.transform(df_train)
df_val_ohe = enc.transform(df_val)

df_train_ohe = enc.transform(df_train)
df_val_ohe = enc.transform(df_val)

In [56]:
X_train = df_train_ohe.drop(['DT_REGISTO_CLIENTE','EstadoCliente','DATACRIACAOCREDITO'], axis=1)
X_val = df_val_ohe.drop(['DT_REGISTO_CLIENTE','EstadoCliente','DATACRIACAOCREDITO'], axis=1)

y_train = df_train_ohe['EstadoCliente'] # Variavel Independente
y_val = df_val_ohe['EstadoCliente'] # Variavel Independente

## Random Forest

In [57]:
from sklearn.ensemble import RandomForestRegressor
mdl = RandomForestRegressor(n_jobs=6, n_estimators=100, random_state=22)
mdl.fit(X_train, y_train)

p_ohe = mdl.predict(X_val)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_val, p_ohe)

0.01068273092369478

## Xgboost

In [58]:
from xgboost import XGBClassifier

In [59]:
clf = XGBClassifier(n_estimators=1000,learning_rate=0.01)

In [60]:
# clf.fit(X_train, y_train)
# accuracy = clf.score()

# p_ohe_xgb = clf.predict(X_val)
# mean_absolute_error(y_val, p_ohe_xgb)

## Logistc Regretion WITH ONE HOT ENCODER

In [61]:
dc_r0 = dc
ordl = OneHotEncoder(cols=['TIPOCREDITO','CAPACIDADEENDIVIDAMENTO','PAIS','PROVINCIA','CATEGORIAPROFISSIONAL','TIPOCLIENTE','ESTADOCIVIL','SEXO','GRADUADO'])
ordl.fit(dc_r0)

Log = ordl.transform(dc_r0)

In [62]:
Log.drop(['CODIGOCLIENTE','NUMEROCLIENTE','DATACRIACAOCREDITO','DT_REGISTO_CLIENTE'],inplace=True,axis=1)

In [88]:
Log.columns

Index(['NR_PRESTACOES', 'NR_PREST_PAGAS_ATRASO', 'NR_PREST_PAGAS_SEM_ATRASO',
       'NR_PREST_NAOPAGAS_ATRASO', 'NR_PREST_NAO_PAGAS_SEM_ATRASO',
       'TIPOCREDITO_1', 'TIPOCREDITO_2', 'PRAZO', 'CAPACIDADEENDIVIDAMENTO_1',
       'CAPACIDADEENDIVIDAMENTO_2', 'VALORCREDITO', 'VALORPRESTACAO', 'PAIS_1',
       'PAIS_2', 'PAIS_3', 'PAIS_4', 'PROVINCIA_1', 'PROVINCIA_2',
       'PROVINCIA_3', 'PROVINCIA_4', 'PROVINCIA_5', 'PROVINCIA_6',
       'PROVINCIA_7', 'PROVINCIA_8', 'PROVINCIA_9', 'IDADE', 'PROFISSAO',
       'CATEGORIAPROFISSIONAL_1', 'CATEGORIAPROFISSIONAL_2',
       'CATEGORIAPROFISSIONAL_3', 'CATEGORIAPROFISSIONAL_4',
       'CATEGORIAPROFISSIONAL_5', 'CATEGORIAPROFISSIONAL_6',
       'CATEGORIAPROFISSIONAL_7', 'CATEGORIAPROFISSIONAL_8',
       'CATEGORIAPROFISSIONAL_9', 'CATEGORIAPROFISSIONAL_10',
       'CATEGORIAPROFISSIONAL_11', 'CATEGORIAPROFISSIONAL_12',
       'CATEGORIAPROFISSIONAL_13', 'CATEGORIAPROFISSIONAL_14',
       'CATEGORIAPROFISSIONAL_15', 'CATEGORIAPROFISSIONAL_16', 'TIPOCLIENTE_1',
       'TIPOCLIENTE_2', 'RENDAMENSAL', 'RENDAANUAL', 'ESTADOCIVIL_1',
       'ESTADOCIVIL_2', 'ESTADOCIVIL_3', 'ESTADOCIVIL_4', 'ESTADOCIVIL_5',
       'ESTADOCIVIL_6', 'HABILITACOES', 'SEXO_1', 'SEXO_2', 'SEXO_3',
       'GRADUADO_1', 'GRADUADO_2', 'EstadoCliente'],
      dtype='object')

In [64]:
m = Log.iloc[0:9487,0:59].values
n = Log.iloc[0:9487,59:60].values

In [65]:
#Log.drop(columns=['DT_REGISTO_CLIENTE','DATACRIACAOCREDITO'],inplace=True,axis=1)

In [66]:
from sklearn.model_selection import train_test_split
M_train,M_test,n_train,n_test = train_test_split(m,n, test_size=0.3,random_state=0)

In [68]:
from sklearn.preprocessing import StandardScaler
scc = StandardScaler()
M_train = np.squeeze(scc.fit_transform(M_train.reshape(-1, 1)))
M_test = np.squeeze(scc.fit_transform(M_test.reshape(-1, 1)))

M_train = scc.fit_transform(M_train.reshape(-1, 1))
M_test = scc.transform(M_test.reshape(-1, 1))

In [87]:
M_train[0]

array([-0.03787513])

In [71]:
M_train

array([[-0.03787513],
       [-0.03787914],
       [-0.03787513],
       ...,
       [-0.03787914],
       [-0.03787914],
       [-0.03787513]])

In [72]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(M_train.reshape(-1, 1),n_train.reshape(-1, 1))

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: ignored

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,plot_confusion_matrix
n_pread = model1.predict(M_test)

In [ ]:
accuracy_score(n_test,n_pread)*100

In [ ]:
Log.iloc[100:101,0:60]

In [ ]:
model1.predict(scc.transform(Log.iloc[100:101,0:59]))

In [ ]:
XX = dc['CAPACIDADEENDIVIDAMENTO']

# ORDINAL ENCODING

In [ ]:
from category_encoders.ordinal import OrdinalEncoder
ent = OrdinalEncoder(cols=['TIPOCREDITO','CAPACIDADEENDIVIDAMENTO','PAIS','PROVINCIA','CATEGORIAPROFISSIONAL','TIPOCLIENTE','ESTADOCIVIL','SEXO','GRADUADO'])
ent.fit(df_train)
df_train_ord = ent.transform(df_train)
df_val_ord = ent.transform(df_val)

X_train_ord = df_train_ord.drop(['DT_REGISTO_CLIENTE','DATACRIACAOCREDITO','EstadoCliente','NUMEROCLIENTE'], axis=1)
X_val_ord = df_val_ord.drop(['DT_REGISTO_CLIENTE','DATACRIACAOCREDITO','EstadoCliente','NUMEROCLIENTE'], axis=1)

y_train_ord = df_train_ohe['EstadoCliente'] # Variavel Independente
y_val_ord = df_val_ohe['EstadoCliente'] # Variavel Independente

In [ ]:
mdl = RandomForestRegressor(n_jobs=6, n_estimators=1000, random_state=22)
mdl.fit(X_train_ord, y_train_ord)

p_ord = mdl.predict(X_val_ord)
mean_absolute_error(y_val_ord, p_ord)

## Logistic Regretion with OrdinalEncoder

In [ ]:
dc_r = dc
rl = OrdinalEncoder(cols=['TIPOCREDITO','CAPACIDADEENDIVIDAMENTO','PAIS','PROVINCIA','CATEGORIAPROFISSIONAL','TIPOCLIENTE','ESTADOCIVIL','SEXO','GRADUADO'])
rl.fit(dc_r)

df_train_rl = ent.transform(dc_r)

In [ ]:
df_train_rl.iloc[0:1,]

In [ ]:
df_train_rl.drop(['DATACRIACAOCREDITO','DT_REGISTO_CLIENTE',],inplace=True,axis=1)
df_train_rl.drop(['CODIGOCLIENTE','NUMEROCLIENTE',],inplace=True,axis=1)

In [ ]:
cols = list(df.columns.values)

In [ ]:
df_train_rl.iloc[0:9,0:22]

In [ ]:
df_train_rl.iloc[0:1,0:22]

In [ ]:
x = df_train_rl.iloc[0:9487,0:22].values
y = df_train_rl.iloc[0:9487,22:23].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=101)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

In [ ]:
X_train[0]

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,plot_confusion_matrix
ypread = model.predict(X_test)

In [ ]:
accuracy_score(y_test,ypread)

In [ ]:
confusion_matrix(y_test,ypread)

In [ ]:
plot_confusion_matrix(model,X_test,y_test)

In [ ]:
print(classification_report(y_test,ypread))

In [ ]:
df_train_rl.iloc[2500:2501,1:]

In [ ]:
from sklearn.linear_model import LogisticRegressionCV
model_CV = LogisticRegressionCV()
model_CV.fit(X_train,y_train)

In [ ]:
model_CV.get_params()

In [ ]:
model_CV.coef_

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report,plot_confusion_matrix

In [ ]:
y_pred = model_CV.predict(X_test)

In [ ]:
accuracy_score(y_test,y_pred)

In [ ]:
plot_confusion_matrix(model_CV,X_test,y_test)

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
from sklearn.metrics import precision_recall_curve,plot_precision_recall_curve,plot_roc_curve

In [ ]:
plot_precision_recall_curve(model_CV,X_test,y_test);

In [ ]:
plot_roc_curve(model_CV,X_test,y_test);

# Implementacao

In [ ]:
import pickle

In [ ]:
pickle.dump(model1,open('/content/drive/MyDrive/Monografia/Monografia 01/Parte Tecnica/Parte 1/regmodelOHE.pkl','wb'))

In [ ]:
pickled_model = pickle.load(open('/content/drive/MyDrive/Monografia/Monografia 01/Parte Tecnica/Parte 1/regmodelOHE.pkl','rb'))

In [ ]:
Log.iloc[9000:9001,0:59]

In [ ]:
pickled_model.predict(scc.transform(Log.iloc[9000:9001,0:59]))

In [ ]:
pickle.dump(scc,open('/content/drive/MyDrive/Monografia/Monografia 01/Parte Tecnica/Parte 1/scalerOHEF.pkl','wb'))